body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: cadetblue;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: #1f2029;
    padding: 10px 24px;
    border-radius: 20px;
    width: 490px;
}

h1 {
    color: cadetblue;
    text-align: center;
    margin-bottom: 0.5em;
    font-family: sans-serif;
}

.container .box {
    width: 100%;
    display: flex;
}

.box div {
    width: 100%;
}

select {
    width: 95%;
    height: 40px;
    font-size: 1.2em;
    cursor: pointer;
    background-color: #cccccc;
    outline: none;
    color: black;
    margin: 0.2em 0;
    padding: 0 1em;
    border-radius: 10px;
    border: none;
}

input {
    width: 80%;
    height: 40px;
    font-size: 1em;
    margin: 0.2em 0;
    margin-left: 2px;
    border-radius: 10px;
    border: none;
    background: #cccccc;
    outline: none;
    padding: 0 1em;
}

.bold{
    font-weight: 700;
}

.btn {
    display: flex;
    justify-content: center;
}

button {
    width: 50%;
    height: 40px;
    background-color: cadetblue;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 1em;
    margin: 0.5em 0;
}